<div class="main-container">
  <h1>Image Gallery</h1>
  <div class="inner-container">
    <img src="images/{{images[currentIndex]}}.jpg" alt="slider image" />
  </div>

  <div class="controls">
    <button (click)="prev()" class="btn-move">
      <i class="fas fa-arrow-left"></i> Prev
    </button>

    <button (click)="next()" class="btn-move">
      Next <i class="fas fa-arrow-right"></i>
    </button>

    <button (click)="slide()" class="slide">
      <i class="fas fa-play"></i> Slide
    </button>

    <button (click)="stop()" class="stop">
      <i class="fas fa-stop"></i> Stop
    </button>
  </div>
</div>